body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(167, 211, 249);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 2em;
}

.flower-div {
  float: left;
  padding-left: 2em;
}

.unbloomed-flower-div {
  width: 50px;
  height: 50px;
  border: 1px black solid;
}

.flower-svg {
  width: 50px;
  height: 50px;
}